// normal
@font-face {
  font-family: "Avenir LT Std";
  src: url("../fonts/AvenirLTStd-Roman.eot");
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("../fonts/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../fonts/AvenirLTStd-Roman.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

// semi bold
@font-face {
  font-family: "Avenir 85";
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir-Heavy.woff2") format("woff2"),
    url("../fonts/Avenir-Heavy.woff") format("woff"),
    url("../fonts/Avenir-Heavy.ttf") format("truetype"),
    url("../fonts/Avenir-Heavy.svg#svgFontName") format("svg");
  font-weight: bold;
  font-style: normal;
}

// bold
@font-face {
  font-family: "Avenir LT 65";
  src: url("../fonts/AvenirLT-Black.eot");
  src: url("../fonts/AvenirLT-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLT-Black.woff2") format("woff2"),
    url("../fonts/AvenirLT-Black.woff") format("woff"),
    url("../fonts/AvenirLT-Black.ttf") format("truetype"),
    url("../fonts/AvenirLT-Black.svg#svgFontName") format("svg");
  font-weight: bold;
  font-style: normal;
}
